# =========================
# Java
# =========================
*.class
*.log
*.ctxt

# JVM crash logs
hs_err_pid*
replay_pid*

# =========================
# Build tools
# =========================

# Maven
target/

# Gradle
.gradle/
build/

# Wrapper
!gradle/wrapper/gradle-wrapper.jar

# =========================
# Packages
# =========================
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# =========================
# Environment variables
# =========================
.env
.env.*

# =========================
# IDEs
# =========================

# IntelliJ / JetBrains
.idea/
*.iml

# VSCode
.vscode/

# Eclipse
.project
.classpath
.settings/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# =========================
# OS files
# =========================

# Windows
Thumbs.db

# macOS
.DS_Store

# Linux
*~

# =========================
# Temporary files
# =========================
tmp/
temp/
out/

# =========================
# Logs
# =========================
logs/
*.tmp